<app-nav-bar></app-nav-bar>
<div class="user-profile">
  <mat-card class="usercard">
    <mat-card-header>
      <mat-card-title>My Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content class="usercard-greeting"
      >Hey {{ user.Username }}!</mat-card-content
    >

    <mat-card-content class="usercard-content">
      <p><b>Username:</b> {{ user.Username }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Birthdate:</b> {{ user.Birthday }}</p>
    </mat-card-content>
    <mat-card-actions class="usercard-actions">
      <button
        class="edit-button"
        mat-raised-button
        (click)="openEditUserDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Edit profile
      </button>
      <button
        class="delete-button"
        mat-raised-button
        (click)="deleteUser()"
        color="warn"
      >
        Delete profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>
