.user-profile {
  padding-top: 100px;
  background-color: blue;
  height: 50%;
  border: 1px solid white;
}

.usercard {
  border: 2px solid black;
  height: 220px;
  width: 350px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-header {
  background-color: lightblue;
  margin-bottom: 8px;
  padding-top: 8px;
  justify-content: center;
  border: 1.5px solid black;
}

.usercard-greeting {
  font-size: 20px;
  font-weight: bold;
}

.edit-button {
  margin-right: 100px;
}

p {
  border-bottom: 1px dashed black;
}

.favorite-card {
  margin: 10px;
  width: 200px;
  background-color: white;
}

.favorites-container {
  background-color: black;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-fav {
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20%;
}

.img-container img {
  width: 185px;
  height: 284px;
  margin: 7px;
}

.fav-header {
  justify-content: center;
  text-align: center;
  height: 70px;
}
.fav-title {
  font-size: 20px;
}
.fav-subtitle {
  font-size: 12px;
}
.fav-action {
  margin-top: 10px;
  height: 10px;
  display: flex;
}
#fav-action-btn {
  color: blue;
}
.mat-icon-button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.remove-btn {
  color: red;
}
